node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results
.openxiangda
**/.openxiangda
.turbo
**/.turbo
.turbopack
**/.turbopack
.umi
**/.umi
.umi-production
**/.umi-production
.git
*.log
**/*.log
